@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cabin:wght@400;500;700&display=swap");

body,
h1,
h2,
p,
ul {
  margin: 0;
}

body {
  font-family: "Cabin", sans-serif;
  color: #5e6c77;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ffb6a5;
  padding: 8px 12px;
}

th {
  text-align: right;
  border-left: none;
}

td {
  text-align: left;
  border-right: none;
}

p {
  text-align: center;
}

section {
  padding: 40px 0;
  text-align: center;

  * {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  div {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    color: #ffb6a5;
    margin-bottom: 30px;
  }
}

header {
  background: linear-gradient(45deg, #ff929e 0%, #ff9362 100%);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;

  h1 {
    font-family: "Alex Brush", cursive;
    color: white;
  }

  p {
    font-size: 16px;
    color: white;
  }
}

footer {
  background: #74757f;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  box-sizing: border-box;
  border: 8px solid white;
  margin-top: 40px;
  object-fit: cover;
}

.name {
  margin-top: 5px;
  font-size: 36px;
}

.background p {
  text-align: justify;
}

.about {
  background: #ffeef4;

  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.skills {
  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 5px 15px;
      background: linear-gradient(45deg, #ff929e 0%, #ff9362 100%);
      padding: 10px 20px;
      border-radius: 20px;
      color: white;
      font-weight: 700;
    }
  }
}

.works {
  background: #ffeef4;

  p {
    text-align: justify;
  }
}

.contact a {
  color: #ff6961;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
